.share-block {
	.likely {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
	}

	.likely__widget {
		display: block;
		margin: 0 7px 14px;
		width: 44px;
		height: 44px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		border: 2.4px solid;
		border-radius: 50%;
		transition: none;

		@media (max-width: 767px) {
			margin: 0 14px 15px;
		}

		&_facebook {
			border-color: $fb;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.591919 8.01126H2.832V5.82237C2.832 4.85793 2.85621 3.36964 3.5532 2.44747C4.28715 1.4715 5.29633 0.808044 7.03182 0.808044C9.85804 0.808044 11.0482 1.21278 11.0482 1.21278L10.4888 4.54926C10.4888 4.54926 9.5535 4.27773 8.68321 4.27773C7.81164 4.27773 7.03182 4.59152 7.03182 5.46759V8.01126H10.6047L10.355 11.2709H7.03182V22.5919H2.832V11.2709H0.591919V8.01126Z' fill='%233B5998'/%3E%3C/svg%3E%0A");
			background-size: 11px auto;

			&:hover {
				background-color: $fb;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.818359 7.61239H3.05844V5.42351C3.05844 4.45906 3.08265 2.97078 3.77964 2.0486C4.51359 1.07263 5.52277 0.40918 7.25826 0.40918C10.0845 0.40918 11.2746 0.813912 11.2746 0.813912L10.7152 4.15039C10.7152 4.15039 9.77994 3.87886 8.90965 3.87886C8.03808 3.87886 7.25826 4.19266 7.25826 5.06873V7.61239H10.8312L10.5814 10.872H7.25826V22.193H3.05844V10.872H0.818359V7.61239Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}

		&_twitter {
			border-color: $twitter;
			background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.7467 2.18791C21.9414 2.54331 21.0773 2.78459 20.1709 2.89219C21.0969 2.33789 21.8077 1.45754 22.1403 0.410896C21.2729 0.926067 20.3143 1.29777 19.2938 1.49993C18.4754 0.629354 17.3114 0.0848389 16.0202 0.0848389C13.5454 0.0848389 11.5369 2.09335 11.5369 4.56813C11.5369 4.92027 11.576 5.26263 11.6543 5.58869C7.92743 5.40283 4.62447 3.61604 2.4138 0.903243C2.02905 1.56514 1.80733 2.33463 1.80733 3.1563C1.80733 4.71159 2.59965 6.08429 3.8028 6.88639C3.06918 6.86357 2.37793 6.66141 1.77147 6.32557C1.77147 6.34514 1.77147 6.36144 1.77147 6.381C1.77147 8.55255 3.31698 10.3654 5.36788 10.7763C4.99291 10.8773 4.59512 10.9328 4.18755 10.9328C3.89736 10.9328 3.61695 10.9034 3.34306 10.8512C3.91366 12.6315 5.57003 13.9292 7.52964 13.9651C5.99391 15.1682 4.06365 15.8856 1.96058 15.8856C1.59866 15.8856 1.24326 15.8627 0.891113 15.8236C2.87354 17.0952 5.23093 17.8387 7.7644 17.8387C16.0104 17.8387 20.5198 11.0078 20.5198 5.0833C20.5198 4.88766 20.5165 4.69529 20.5067 4.50291C21.3838 3.87036 22.1435 3.08131 22.7435 2.18139L22.7467 2.18791Z' fill='%233CC6EE'/%3E%3C/svg%3E%0A");
			background-size: 22px auto;

			&:hover {
				background-color: $twitter;
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9022 2.18791C21.0969 2.54331 20.2328 2.78459 19.3264 2.89219C20.2524 2.33789 20.9632 1.45754 21.2958 0.410896C20.4285 0.926067 19.4699 1.29777 18.4493 1.49993C17.6309 0.629354 16.4669 0.0848389 15.1757 0.0848389C12.7009 0.0848389 10.6924 2.09335 10.6924 4.56813C10.6924 4.92027 10.7315 5.26263 10.8098 5.58869C7.08295 5.40283 3.77999 3.61604 1.56932 0.903243C1.18457 1.56514 0.962852 2.33463 0.962852 3.1563C0.962852 4.71159 1.75517 6.08429 2.95832 6.88639C2.22469 6.86357 1.53345 6.66141 0.926985 6.32557C0.926985 6.34514 0.926985 6.36144 0.926985 6.381C0.926985 8.55255 2.4725 10.3654 4.5234 10.7763C4.14843 10.8773 3.75064 10.9328 3.34307 10.9328C3.05288 10.9328 2.77247 10.9034 2.49858 10.8512C3.06918 12.6315 4.72555 13.9292 6.68516 13.9651C5.14943 15.1682 3.21917 15.8856 1.1161 15.8856C0.754175 15.8856 0.398773 15.8627 0.0466309 15.8236C2.02906 17.0952 4.38645 17.8387 6.91992 17.8387C15.1659 17.8387 19.6753 11.0078 19.6753 5.0833C19.6753 4.88766 19.672 4.69529 19.6622 4.50291C20.5393 3.87036 21.299 3.08131 21.899 2.18139L21.9022 2.18791Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}

		&_vkontakte {
			border-color: $vk;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7764 12.1927H13.1467C13.1467 12.1927 13.5599 12.1514 13.7708 11.944C13.9655 11.7543 13.959 11.3975 13.959 11.3975C13.959 11.3975 13.933 9.72735 14.7853 9.4816C15.6257 9.2388 16.7061 11.0957 17.8504 11.8093C18.7168 12.35 19.3733 12.232 19.3733 12.232L22.4341 12.1927C22.4341 12.1927 24.0348 12.1033 23.2755 10.959C23.2139 10.8657 22.8332 10.1127 20.9999 8.56642C19.0812 6.94742 19.3387 7.2089 21.6499 4.40931C23.0571 2.7038 23.6205 1.66281 23.4443 1.21751C23.2766 0.791866 22.2416 0.904911 22.2416 0.904911L18.7957 0.924571C18.7957 0.924571 18.5405 0.892132 18.3512 0.995348C18.1662 1.0966 18.0473 1.33153 18.0473 1.33153C18.0473 1.33153 17.5011 2.65072 16.7743 3.77331C15.2396 6.14136 14.6263 6.2662 14.3754 6.11875C13.7924 5.77667 13.9384 4.74255 13.9384 4.00825C13.9384 1.71294 14.3202 0.756478 13.1922 0.508762C12.8179 0.42619 12.5421 0.372125 11.5839 0.363278C10.3542 0.352465 9.3137 0.36721 8.72533 0.628688C8.33272 0.803662 8.03097 1.19195 8.21483 1.21456C8.44196 1.24208 8.95786 1.34136 9.2315 1.67952C9.58517 2.11597 9.57219 3.09602 9.57219 3.09602C9.57219 3.09602 9.77552 5.79731 9.09847 6.1335C8.63448 6.36352 7.99636 5.89364 6.62927 3.7448C5.92842 2.64482 5.39954 1.42787 5.39954 1.42787C5.39954 1.42787 5.29679 1.20079 5.11509 1.0789C4.89445 0.932436 4.58621 0.885251 4.58621 0.885251L1.31125 0.904911C1.31125 0.904911 0.820223 0.916708 0.639603 1.11134C0.478451 1.28435 0.626625 1.64216 0.626625 1.64216C0.626625 1.64216 3.18992 7.0929 6.09282 9.83843C8.75453 12.3579 11.7764 12.1927 11.7764 12.1927Z' fill='%23507299'/%3E%3C/svg%3E%0A");
			background-size: 23px auto;

			&:hover {
				background-color: $vk;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9317 12.1927H13.302C13.302 12.1927 13.7152 12.1514 13.9261 11.944C14.1208 11.7543 14.1143 11.3975 14.1143 11.3975C14.1143 11.3975 14.0883 9.72735 14.9406 9.4816C15.7809 9.2388 16.8614 11.0957 18.0057 11.8093C18.872 12.35 19.5285 12.232 19.5285 12.232L22.5893 12.1927C22.5893 12.1927 24.1901 12.1033 23.4308 10.959C23.3692 10.8657 22.9884 10.1127 21.1552 8.56642C19.2365 6.94742 19.4939 7.2089 21.8052 4.40931C23.2123 2.7038 23.7758 1.66281 23.5995 1.21751C23.4319 0.791866 22.3968 0.904911 22.3968 0.904911L18.951 0.924571C18.951 0.924571 18.6957 0.892132 18.5065 0.995348C18.3215 1.0966 18.2026 1.33153 18.2026 1.33153C18.2026 1.33153 17.6564 2.65072 16.9296 3.77331C15.3948 6.14136 14.7816 6.2662 14.5307 6.11875C13.9477 5.77667 14.0937 4.74255 14.0937 4.00825C14.0937 1.71294 14.4755 0.756478 13.3474 0.508762C12.9732 0.42619 12.6974 0.372125 11.7392 0.363278C10.5094 0.352465 9.46897 0.36721 8.8806 0.628688C8.488 0.803662 8.18624 1.19195 8.37011 1.21456C8.59723 1.24208 9.11314 1.34136 9.38677 1.67952C9.74044 2.11597 9.72746 3.09602 9.72746 3.09602C9.72746 3.09602 9.9308 5.79731 9.25374 6.1335C8.78975 6.36352 8.15163 5.89364 6.78454 3.7448C6.08369 2.64482 5.55481 1.42787 5.55481 1.42787C5.55481 1.42787 5.45206 1.20079 5.27036 1.0789C5.04973 0.932436 4.74148 0.885251 4.74148 0.885251L1.46652 0.904911C1.46652 0.904911 0.975497 0.916708 0.794877 1.11134C0.633725 1.28435 0.781898 1.64216 0.781898 1.64216C0.781898 1.64216 3.34519 7.0929 6.24809 9.83843C8.9098 12.3579 11.9317 12.1927 11.9317 12.1927Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}

		&_odnoklassniki {
			border-color: $ok;
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='26' viewBox='0 0 15 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55329 18.6667C10.8871 18.411 12.0543 17.8997 13.138 17.1326C13.9717 16.6212 14.3051 15.4281 13.7216 14.5758C13.2214 13.7235 12.0543 13.3826 11.2206 13.9792C8.71964 15.5985 5.38503 15.5985 2.88407 13.9792C2.05041 13.4678 0.883299 13.7235 0.383107 14.5758C-0.117085 15.4281 0.133011 16.6212 0.966664 17.1326C2.13378 17.8144 3.30089 18.411 4.55137 18.6667L1.05003 22.2463C0.383107 22.9281 0.383107 24.1213 1.05003 24.8884C1.38349 25.2293 1.80032 25.3997 2.38387 25.3997C2.8007 25.3997 3.30089 25.2293 3.71772 24.8884L7.1357 21.394L10.5537 24.8884C11.2206 25.5702 12.3877 25.5702 13.138 24.8884C13.8049 24.2065 13.8049 23.0133 13.138 22.2463L9.55329 18.6667ZM6.96897 0.598389C3.63435 0.598389 0.883299 3.32568 0.883299 6.82003C0.883299 10.3144 3.55099 13.0417 6.96897 13.0417C10.3869 13.0417 13.0546 10.3144 13.0546 6.82003C13.0546 3.32568 10.3869 0.598389 6.96897 0.598389ZM6.96897 9.4621C5.46839 9.4621 4.38464 8.26891 4.38464 6.82003C4.38464 5.37115 5.55176 4.17796 6.96897 4.17796C8.38618 4.17796 9.55329 5.37115 9.55329 6.82003C9.55329 8.26891 8.46954 9.4621 6.96897 9.4621Z' fill='%23EE8208'/%3E%3C/svg%3E%0A");
			background-size: 14px auto;

			&:hover {
				background-color: $ok;
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='26' viewBox='0 0 15 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.70832 18.6667C11.0422 18.411 12.2093 17.8997 13.293 17.1326C14.1267 16.6212 14.4601 15.4281 13.8766 14.5758C13.3764 13.7235 12.2093 13.3826 11.3756 13.9792C8.87467 15.5985 5.54006 15.5985 3.0391 13.9792C2.20544 13.4678 1.03833 13.7235 0.538136 14.5758C0.0379443 15.4281 0.28804 16.6212 1.12169 17.1326C2.28881 17.8144 3.45592 18.411 4.7064 18.6667L1.20506 22.2463C0.538136 22.9281 0.538136 24.1213 1.20506 24.8884C1.53852 25.2293 1.95535 25.3997 2.5389 25.3997C2.95573 25.3997 3.45592 25.2293 3.87275 24.8884L7.29073 21.394L10.7087 24.8884C11.3756 25.5702 12.5427 25.5702 13.293 24.8884C13.96 24.2065 13.96 23.0133 13.293 22.2463L9.70832 18.6667ZM7.124 0.598389C3.78938 0.598389 1.03833 3.32568 1.03833 6.82003C1.03833 10.3144 3.70602 13.0417 7.124 13.0417C10.542 13.0417 13.2097 10.3144 13.2097 6.82003C13.2097 3.32568 10.542 0.598389 7.124 0.598389ZM7.124 9.4621C5.62342 9.4621 4.53967 8.26891 4.53967 6.82003C4.53967 5.37115 5.70679 4.17796 7.124 4.17796C8.54121 4.17796 9.70832 5.37115 9.70832 6.82003C9.70832 8.26891 8.62457 9.4621 7.124 9.4621Z' fill='white'/%3E%3C/svg%3E%0A");
			}
		}
	}

	.likely__icon {
		opacity: 0;
		pointer-events: none;
	}
}

.share-block__title {
	margin-bottom: 24px;
}

.share-block_nested {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 33px;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: stretch;
		padding: 30px 28px;
	}

	.share-block__title {
		margin-bottom: 0;
		max-width: 224px;
		font-family: $font-accent;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;

		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
	}

	.likely {
		@media (max-width: 768px) {
			justify-content: space-between;
			max-width: 266px;
		}
	}

	.likely__widget {
		margin-bottom: 0;

		@media (max-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
