/**
 * Fonts
*/

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroymedium.woff2") format("woff2"),
  url("../fonts/gilroymedium.woff") format("woff");
  font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Gilroy';
	src: url("../fonts/gilroysemibold.woff2") format("woff2"),
	url("../fonts/gilroysemibold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Gilroy';
	src: url("../fonts/gilroybold.woff2") format("woff2"),
	url("../fonts/gilroybold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/RobotoRegular.woff2") format("woff2"),
	url("../fonts/RobotoRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/RobotoBold.woff2") format("woff2"),
	url("../fonts/RobotoBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
