<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Активные петиции</title>
		<meta name="description" content="Мы, команда Псковского Яблока, создаем петиции по важным для горожан вопросам и предлагаем вам подписать их">
		<meta name="keywords" content="">

		<meta property="og:title" content="Активные петиции">
		<meta property="og:description" content="Мы, команда Псковского Яблока, создаем петиции по важным для горожан вопросам и предлагаем вам подписать их">
		<meta property="og:image" content="images/content/share.jpg">
		<meta property="og:image:width" content="484">
		<meta property="og:image:height" content="252">

		<link rel="apple-touch-icon" href="images/content/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/content/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/content/favicons/favicon-16x16.png">
	</head>

	<body>
		<header class="page-header">
			<div class="container">
				<a href="" class="page-header__logo" aria-label="Перейти на страницу петиций">
					<img src="images/content/icon-petition.svg" alt="">
					<span>Петиции</span>
				</a>
				<a href="" class="page-header__yabloko-logo">
					<img src="images/content/logo-small.svg" alt="">
					<span>Псковское Яблоко</span>
				</a>
			</div>
		</header>
		<main class="page-main">
			<section class="hero">
				<div class="container">
					<div class="hero__logo">
						<img src="images/content/logo.svg" alt="">
					</div>
					<h1 class="hero__title">Активные петиции</h1>
					<div class="hero__text">
						<p>Мы, команда Псковского &laquo;Яблока&raquo;, создаем петиции по&nbsp;важным для горожан вопросам и&nbsp;предлагаем вам подписать&nbsp;их. На&nbsp;странице петиции вы&nbsp;оставляете реальную подпись своей рукой, мы&nbsp;печатаем ваши подписанные обращения и&nbsp;передаем их&nbsp;в&nbsp;органы власти. Так ваши обращения реально дойдут до&nbsp;адресатов в&nbsp;кабинетах и&nbsp;они будут обязаны на&nbsp;них ответить. Участвуйте в&nbsp;жизни города!</p>
					</div>
				</div>
			</section>
			<section class="petitions-list">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/01.jpg" srcset="images/content/petitions/01@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Переход Арбат</h3>
									<div class="petition-card__text">
										<p>Администрация города Томска хочет строить дома высотой в&nbsp;26&nbsp;этажей и&nbsp;размещать любые магазины и&nbsp;ларьки во&nbsp;дворах без общественных обсуждений. Не&nbsp;дадим строительному лобби портить наш город!</p>
									</div>
									<p class="petition-card__count">
										<b>96</b>
										<span>подписали</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/02.jpg" srcset="images/content/petitions/02@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Остановим строительство надземного пешеходного перехода на&nbsp;Привокзальной!</h3>
									<div class="petition-card__text">
										<p>Вместо регбийного стадиона Фили, который является частью районной идентичности и&nbsp;уникальным объектом для района и&nbsp;города, планируют построить огромную &laquo;Гандбол-арену&raquo; на&nbsp;8&nbsp;тысяч зрителей, с&nbsp;гостиницей, торговыми и&nbsp;административными площадями. Такой проект категорически неприемлем.</p>
									</div>
									<p class="petition-card__count">
										<b>102</b>
										<span>подписало</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/03.jpg" srcset="images/content/petitions/03@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Подпишись за&nbsp;сохранение регбийного стадиона Фили!</h3>
									<div class="petition-card__text">
										<p>Вместо регбийного стадиона Фили, который является частью районной идентичности и&nbsp;уникальным объектом для района и&nbsp;города, планируют построить огромную &laquo;Гандбол-арену&raquo; на&nbsp;8&nbsp;тысяч зрителей, с&nbsp;гостиницей, торговыми и&nbsp;административными площадями. Такой проект категорически неприемлем.</p>
									</div>
									<p class="petition-card__count">
										<b>71</b>
										<span>подписал</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/01.jpg" srcset="images/content/petitions/01@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Переход Арбат</h3>
									<div class="petition-card__text">
										<p>Администрация города Томска хочет строить дома высотой в&nbsp;26&nbsp;этажей и&nbsp;размещать любые магазины и&nbsp;ларьки во&nbsp;дворах без общественных обсуждений. Не&nbsp;дадим строительному лобби портить наш город!</p>
									</div>
									<p class="petition-card__count">
										<b>96</b>
										<span>подписали</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/02.jpg" srcset="images/content/petitions/02@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Остановим строительство надземного пешеходного перехода на&nbsp;Привокзальной!</h3>
									<div class="petition-card__text">
										<p>Вместо регбийного стадиона Фили, который является частью районной идентичности и&nbsp;уникальным объектом для района и&nbsp;города, планируют построить огромную &laquo;Гандбол-арену&raquo; на&nbsp;8&nbsp;тысяч зрителей, с&nbsp;гостиницей, торговыми и&nbsp;административными площадями. Такой проект категорически неприемлем.</p>
									</div>
									<p class="petition-card__count">
										<b>102</b>
										<span>подписало</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-12 col-md-6 col-xl-4">
							<a href="petition-details.html" class="petition-card">
								<div class="petition-card__image">
									<img src="images/content/petitions/03.jpg" srcset="images/content/petitions/03@2x.jpg 2x" alt="">
								</div>
								<div class="petition-card__content">
									<h3 class="petition-card__title">Подпишись за&nbsp;сохранение регбийного стадиона Фили!</h3>
									<div class="petition-card__text">
										<p>Вместо регбийного стадиона Фили, который является частью районной идентичности и&nbsp;уникальным объектом для района и&nbsp;города, планируют построить огромную &laquo;Гандбол-арену&raquo; на&nbsp;8&nbsp;тысяч зрителей, с&nbsp;гостиницей, торговыми и&nbsp;административными площадями. Такой проект категорически неприемлем.</p>
									</div>
									<p class="petition-card__count">
										<b>71</b>
										<span>подписал</span>
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-6 col-xl-4">
							<a href="" class="btn btn_primary petitions-list__toggle">Ещё петиции</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="page-footer">
			<div class="container">
				<div class="page-footer__share">
					<div class="share-block">
						<h2 class="share-block__title">Расскажите о&nbsp;нас в&nbsp;соцсетях</h2>
						<div class="share-block__content">
							<div class="likely" data-title="Активные петиции">
								<div class="facebook" tabindex="0" role="link" aria-label="Поделиться на Фейсбуке"></div>
								<div class="twitter"tabindex="0" role="link" aria-label="Поделиться в Твиттере"></div>
								<div class="vkontakte" tabindex="0" role="link" aria-label="Поделиться ВКонтакте"></div>
								<div class="odnoklassniki" tabindex="0" role="link" aria-label="Поделиться в Одноклассниках"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-footer__projects">
					<div class="projects">
						<h2 class="projects__title">Другие наши проекты</h2>
						<ul>
							<li>
								<a href="" aria-label="Перейти на страницу проекта Псковское Яблоко">
									<img src="images/content/pskov_yabloko.png" srcset="images/content/pskov_yabloko@2x.png 2x" alt="">
								</a>
							</li>
							<li>
								<a href="" aria-label="Перейти персональный сайт Льва Шлосберга">
									<img src="images/content/shlosberg.png" srcset="images/content/shlosberg@2x.png 2x" alt="">
								</a>
							</li>
							<li>
								<a href="" aria-label="Перейти на страницу ГражданинЪ TV">
									<img src="images/content/grazhdanintv.png" srcset="images/content/grazhdanintv@2x.png 2x" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
